header,
nav,
section,
footer {

    margin: auto;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 70%;
   


}

header a{
    color:blue;
text-decoration: none;
}

nav{
  background-color: red;

}

nav a {
    color: blue;
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
    border-right: 1px solid red;
    padding-right: 20px;
}




#wrap {

    text-align: center;
    margin-top: 50px;

}

body {
    background-color: rgb(75, 188, 233)
}
section{
    margin-top: 10px;
}

section iframe,
section img{
    
    width: 960px;
    height: 600px;

}
